<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lp.framework.manage.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.lp.framework.manage.model.Menu">
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="p_code" jdbcType="VARCHAR" property="pCode" />
    <result column="icon_cls" jdbcType="VARCHAR" property="iconCls" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="authority" jdbcType="VARCHAR" property="authority" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.lp.framework.manage.model.Menu">
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="p_code" jdbcType="VARCHAR" property="pCode" />
    <result column="icon_cls" jdbcType="VARCHAR" property="iconCls" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="authority" jdbcType="VARCHAR" property="authority" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
  </resultMap>
  <sql id="Base_Column_List">
    menu_id, menu_code, menu_name, p_code, icon_cls, `status`, `type`, url, authority, 
    create_time, update_time,order_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from d_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <select id="selectMenusByPCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from d_menu
    where p_code = #{pCode,jdbcType=VARCHAR}
        AND `type`&lt;&gt;'2'
        AND `status`='1'
        order by order_no
  </select>
  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from d_menu
    where 1 = 1
      <if test="pCode != null and pCode != ''">
        AND p_code= #{pCode,jdbcType=VARCHAR}
      </if>
      <if test="menuCode != null and menuCode != ''">
        AND menu_code like CONCAT('%',#{menuCode},'%')
      </if>
      <if test="menuName != null and menuName != ''">
        AND menu_name like CONCAT('%',#{menuName},'%')
      </if>
      <if test="createTimeStart != null and createTimeStart != ''">
        AND create_time &gt;= #{createTimeStart,jdbcType=TIMESTAMP}
      </if>
      <if test="createTimeEnd != null and createTimeEnd != ''">
        AND create_time &lt;= #{createTimeEnd,jdbcType=TIMESTAMP}
      </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from d_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="menu_id" keyProperty="menuId" parameterType="com.lp.framework.manage.model.Menu" useGeneratedKeys="true">
    insert into d_menu (menu_code, menu_name, p_code, 
      icon_cls, `status`, `type`, 
      url, authority, create_time, 
      update_time,order_no)
    values (#{menuCode,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{pCode,jdbcType=VARCHAR}, 
      #{iconCls,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{authority,jdbcType=VARCHAR}, now(),null,#{orderNo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="menu_id" keyProperty="menuId" parameterType="com.lp.framework.manage.model.Menu" useGeneratedKeys="true">
    insert into d_menu(
      <if test="menuCode != null">
        menu_code,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="pCode != null">
        p_code,
      </if>
      <if test="iconCls != null">
        icon_cls,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="authority != null">
        authority,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
        create_time,
        update_time
    )values (
      <if test="menuCode != null">
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="pCode != null">
        #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        #{authority,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      now(),
      null
    )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lp.framework.manage.model.Menu">
    update d_menu
        set
      <if test="menuCode != null">
        menu_code = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="pCode != null">
        p_code = #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        icon_cls = #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        authority = #{authority,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
        update_time = now()
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lp.framework.manage.model.Menu">
    update d_menu
    set menu_code = #{menuCode,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      p_code = #{pCode,jdbcType=VARCHAR},
      icon_cls = #{iconCls,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      authority = #{authority,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>