<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lp.framework.manage.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.lp.framework.manage.model.User">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_code" jdbcType="VARCHAR" property="userCode"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        user_id, user_code, user_name, pwd, `status`, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="selectByUserCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_user
        where user_code = #{userCode,jdbcType=VARCHAR}
    </select>
    <select id="selectByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_user
        <where>
            <if test="userCode != null and userCode != ''">
              user_code like CONCAT('%',#{userCode},'%')
            </if>
            <if test="userName != null and userName != ''">
              AND user_name like CONCAT('%',#{userName},'%')
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from d_user
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByUserCode">
        delete from d_user
        where user_code = #{userCode,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.lp.framework.manage.model.User"
            useGeneratedKeys="true">
        insert into d_user (user_code, user_name, pwd,
          `status`, create_time, update_time
          )
        values (#{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
          #{status,jdbcType=VARCHAR}, now(),null
          )
    </insert>
    <insert id="insertSelective" keyColumn="user_id" keyProperty="userId"
            parameterType="com.lp.framework.manage.model.User" useGeneratedKeys="true">
        insert into d_user(
            <if test="userCode != null">
                user_code,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="status != null">
                `status`,
            </if>
                create_time,
                update_time
        )values(
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
                now(),
                null
        )
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lp.framework.manage.model.User">
        update d_user
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
                update_time = now()
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lp.framework.manage.model.User">
        update d_user
        set user_code = #{userCode,jdbcType=VARCHAR},
          user_name = #{userName,jdbcType=VARCHAR},
          `status` = #{status,jdbcType=VARCHAR},
          update_time = now()
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updatePwdByPrimaryKey" parameterType="com.lp.framework.manage.model.User">
        update d_user
        set user_code = #{userCode,jdbcType=VARCHAR},
          pwd = #{pwd,jdbcType=VARCHAR},
          update_time = now()
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
</mapper>